body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(160deg, #002b21, #003f2f);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: #001d15;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #c8c8c8;
    text-decoration: none;
    font-size: 15px;
}

.header {
    text-align: center;
    padding: 60px 20px;
}

.header h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    width: 300px;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.badge {
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.green { background: #00c281; }
.blue { background: #00b7ff; }
.yellow { background: #e0b300; color: black; }

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 14px;
    background: #00d18a;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
